{% extends 'base.html' %}
{% block title %}
<title>상세내용</title> 
{% endblock title %}
{% block contents %}
    <table>
        <tr>
            <td>id</td>
            <td>{{ article_detail.name }}</td>
        </tr>
        <tr>
            <td>제목</td>
            <td>{{ article_detail.title }}</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>{{ article_detail.contents }}</td>
        </tr>
        <tr>
            <td>url</td>
            <td>{{ article_detail.url }}</td>
        </tr>
        <tr>
            <td>메일</td>
            <td>{{ article_detail.email }}</td>
        </tr>
        <tr>
            <td>작성일</td>
            <td>{{ article_detail.cdate }}</td>
        </tr>
    </table>
{% endblock contents %}




